@font-face {
	font-family: "Matura MT Script Capitals";
	src: url("assets/MaturaMTScriptCapitals.woff2") format("woff2"), url("assets/MaturaMTScriptCapitals.woff") format("woff");
}

body {
	margin: 0;
	padding: 0;
	background-color: black;
	color: white;
}

.mask {
	visibility: hidden;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.8);
	z-index: 9999;
}

.dlg {
	position: absolute;
	border: 2px solid black;
	border-radius: 7px;
	font-family: sans-serif;
	color: black;
	background-color: #CCC;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	z-index: 10000;
	padding: 16px;
}

.newgame-dlg {
	visibility: hidden;
	left: 15%;
	right: 15%;
	top: 15%;
	bottom: 15%;
	overflow-y: auto;
}

.popup-dlg {
	visibility: hidden;
	left: 30%;
	right: 30%;
	top: 30%;
	bottom: 30%;
}

.dlg-header {
	text-align: center;
	line-height: 16px;
	padding: 3px;
	margin: 0;
}

.dlg-main {
	flex: 1;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.dlg-logo {
	width: 20%;
	padding: 16px;
}

.dlg-text {
	flex: 1;
	overflow-x: auto;
}

.dlg-button {
	min-width: 25%;
}

.scare {
	visibility: hidden;
	position: absolute;
	box-shadow: 0 0 0 100vmax rgba(255,128,128,.3);
	z-index: 999;
}

.scare-img {
	visibility: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
	filter: drop-shadow(12px 12px 7px rgba(255, 0, 0, 0.5));
}

.box {
	position: relative;
}

.game_bg {
	position: static;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 97;
}

.ctrl_bar {
	position: absolute;
	left: 10%;
	width: 80%;
	height: 15%;
	top: 75%;
	z-index: 98;
	display: flex;
	text-align: center;
	justify-content: space-around;
	align-items: center; /* align vertical */
	background-color: black;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0 0 10px 5px white;
}

.selection {
	position: absolute;
	top: 33.039%;
	left: 25.464%;
	height: 23.322%;
	width: 49.425%;
	display: flex;
	text-align: center;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
	border: 3px solid black;
    font-family: 'Matura MT Script Capitals';
    font-weight: normal;
    font-style: normal;
	font-size: 3vw;
	z-index: 1;
	rotation: -1deg;
}

.game_board {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.passion {
	position: absolute;
	left: 50%;
	top: 1.5%;
	width: 27%;
	height: 14%;
	transform: translate(-50%, 0%);
	z-index: 3;
}

.hase_face {
	position: absolute;
	filter: drop-shadow(0px 0px 10px rgba(255, 128, 128, 0.9));
	top: 1.5%;
	transform: translate(-50%, 0%);
	width: 6%;
	height: 15%;
	z-index: 3;
}
.hase_face.hf1 {
	left: 30%;
}
.hase_face.hf2 {
	left: 70%;
}

.ctrl_element {
	margin: 15px;
}

.btn_spin {
	width: 10vw;
	height: 5vw;
	font-size: 3.4vw;
	background-color: red;
	color: yellow;
}

.btn_reset {
	width: 7vw;
	height: 3vw;
	font-size: 1.7vw;
	background-color: darkblue;
	color: white;
}

.state {
	display: flex;
	flex-flow: column nowrap;
}

.ctrl_progress {
	font-family: "sans-serif";
	font-size: 2.5vw;
	line-height: 2.5vw;
	padding: 0;
	margin: 10px;
	color: white;
}

.ctrl_game {
	font-family: "sans-serif";
	font-size: 1vw;
	line-height: 1vw;
	padding: 0;
	margin: 5px;
	font-style: italic;
	color: white;
}

button:disabled,
button[disabled] {
	border: 1px solid #999999;
	background-color: #cccccc;
	color: #666666;
}

input.disabled
{
}

label.disabled
{
	color: #555;
	text-decoration: line-through;
}